services:
  redis:
    image: redis:8.2.3-alpine
    container_name: tinyurl_redis
    ports:
      - "6379:6379"
    volumes:
      - ../data/redis:/data
    command: >
      redis-server 
      --save 60 1 
      --appendonly yes 
      --requirepass ${REDIS_PASSWORD}
  app:
    image: tinyurl_${RUN_MODE}
    container_name: tinyurl_go_server
    build:
      context: ..          # 指向專案根目錄，這樣 Dockerfile 才能 COPY . .
      dockerfile: ./builders/Dockerfile.tinyurl
    env_file:
      - ../env/.env.dev   # 這是給容器內部的環境變數
    volumes:
      - ../data:/tinyurl/data
    ports:
      - "3000:3000"
    depends_on:
      - redis
