RUN_MODE=development
LOG_LEVEL=DEBUG
PORT=3000
SHORT_URL_PREFIX=localhost:3000
SHORT_URL_CACHE_TTL_IN_MILI_SEC=300000

DB_PATH=/PATH/TO/YOUR/DB
DB_JOURNAL_MODE=WAL
DB_BUSY_TIMEOUT=5000
DB_SYNC_MODE=NORMAL
DB_FOREIGN_KEYS=true 
DB_CACHE_SIZE=-2000

ID_GEN_NODE_ID=1
ID_GEN_EPOCH_TIME_START_FROM=2025-12-14

REDIS_CONNECT_URL=localhost:6379
REDIS_PASSWORD=strong_redis_password
REDIS_SERIALIZATION_PROTOCAL=2

REDIS_CACHE_DB=0

REDIS_BLOOM_FILTER_DB=1
REDIS_BLOOM_FILTER_ERROR_RATE=0.001
REDIS_BLOOM_FILTER_CAPACITY=100000